
<div class="container">

 <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-3">Page Heading</h1>

	{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6 }}
        {{ range $paginator.Pages }}

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}" alt="{{ .Title }}">
          <div class="card-body">
            <h2 class="card-title">{{ .Title }}</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>
	
	{{ end }}
 </div>
	
</div>
</div>

<br>

<div class="container">
    {{ partial "pagination.html" . }}
</div>